.env
setup-authelia/traefik
setup-authelia/authelia/
setup-authelia/authelia/configuration.yml
setup-authelia/authelia/users_database.yml
setup-authelia-secure/traefik
setup-authelia-secure/authelia/
setup-authelia-secure/authelia/configuration.yml
setup-authelia-secure/authelia/users_database.yml
