MY_EMAIL=test@gmail.com
MY_DOMAIN=dentropy.local
OPENVPN_USERNAME=USERNAME
OPENVPN_USERNAME=PASSWORD
VOLUME_DIR=/srv
LINODE_TOKEN=ENTROPY
AUDIOBOOK_DIRECTORY=/mnt/LinuxStuff/Mega/BooksAndDocuments/Audiobooks
